body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.timer-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timer {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#startBtn {
    background-color: #156117;
    color: white;
}

#pauseBtn {
    background-color: #092033;
    color: white;
}

#stopBtn {
    background-color: #aa1b11; 
    color: white;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}